@model LoginModel
@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Login";
}


    <style>
        .logo-login{
        background: url("/pattern-c.png") repeat fixed;
            height:100vh;
        }

    .centro-vertical{
        margin-top:20%;
    }
    
      
    </style>   
    
 <div class="row">
    <div class="col-5 logo-login">  
    </div>
    <div class="col-7">
        <div class="row centro-vertical">
            <div class="col-6 offset-3">
                <div id="img">
                    <img src="~/image 13.png" />
                    @if (TempData["MensagemErro"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["MensagemErro"]
                            </div>
                    }
                    @if (TempData["MensagemSucesso"] != null)
                    {
                        <div class="alert alert-sucess">
                            @TempData["MensagemSucesso"]
                        </div>
                    }
                </div>
                <div>
                    <form id="form" action="/Login/entrar" method="post">
                        <div class="mb-3">
                            <label for="login" class="form-label">Login</label>
                            <input type="text" asp-for="Login" class="form-control" id="login">
                            @Html.ValidationMessageFor(x => x.Login)
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha</label>
                            <input type="password" asp-for="Senha" class="form-control" id="senha">
                            @Html.ValidationMessageFor(x => x.Senha)
                        </div>
                        <p class="mb-4 text-sm-center mx-auto">
                            Esqueceu sua senha ?
                            <a asp-action="RedefinirSenha" asp-controller="Login" class="text-primary text-gradient font-weight-bold">
                                Redefinir Senha
                            </a>
                        </p>
                        <button id="button" type="submit" class="btn btn-secondary form-control" style="background-color: #2F3538;">Continuar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>