@model Views_Ranking_Index;



<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<head>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            font-size: 1.2rem;
            font-family: Zen Kaku Gothic Antique;
        }

        .logo {
            width: auto;
            height: 50px;
            background: 0;
        }

        #buscar {
            width: 343px;
            height: 51px;
            top: 30px;
            right: 1px;
            align-content: center;
            cursor: pointer;
            margin-top: 40px;
            display: flex;
            justify-content: center;
        }

        h1 {
            font-family: Zen Kaku Gothic Antique;
            font-size: 31px;
            font-weight: 700;
            line-height: 38px;
            letter-spacing: -0.5px;
            text-align: left;
            width: 380px;
            height: 37px;
            top: 20px; /* Aumente ou diminua o valor para ajustar a posição vertical */
            left: 291px;
            padding: 5px;
            color: #63605E;
        }

        .table-container {
            text-align: center;
            margin-top: 80px;
            text-align: end;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        table {
            margin: 0 auto;
            display: inline-block;
            margin-top: 70px;
        }

        .table, th, td {
            border: 1px solid #7D9CAB;
            padding: 8px;
            text-align: left;
            height: 30px;
            padding: 10px;
            width: 100px;
        }

        .table, th {
            background-color: #7D9CAB;
            color: #fff;
            text-align: center;
            text-decoration: none;
            padding: 10px;
        }

        .form-select {
            width: 80%;
            float: right;
            color: #63605E;
            top: 247px;
            left: 200px;
        }

        .let {
            font-family: Zen Kaku Gothic Antique;
            text-align: left;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin-top: 50px;
        }
    </style>

</head>
<div class="let">
    <h1>CLASSIFICAÇÃO GERAL</h1>
</div>
<body class="home-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="input-group mb-3" id="buscar">
                        <h1>PROCURE</h1>
                        <input type="text" class="form-control" placeholder="Procure seu nome" aria-label="Campo de busca" aria-describedby="icone-lupa">
                        <span class="input-group-text" id="icone-lupa">
                            <ion-icon name="search-outline"></ion-icon>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-container">
        <table>
            <tr>
                <th>CLASSIFICAÇÃO</th>
                <th>NOME</th>
                <th>TURMA</th>
                <th>PONTOS</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-fz5g0b2mAIwz3R6oyD9t9z5u5c3CkOKd7wBdFg5A+Jw5a6L5pma7qE2iu0w11OjI" crossorigin="anonymous"></script>
</body>