@model MediaModel
@{
    ViewData["Title"] = "Calcular Média";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="form-container">
            <form asp-controller="Media" asp-action="CalcularMedia" method="post">
                <div class="form-group">
                    <label for="Nota1">Nota 1:</label>
                    <input asp-for="Nota1" class="form-control" />
                    <span asp-validation-for="Nota1" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="Nota2">Nota 2:</label>
                    <input asp-for="Nota2" class="form-control" />
                    <span asp-validation-for="Nota2" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="Nota3">Nota 3:</label>
                    <input asp-for="Nota3" class="form-control" />
                    <span asp-validation-for="Nota3" class="text-danger"></span>
                </div>
                <p>        </p>
                <button type="submit" class="btn btn-primary">Calcular Média</button>
                <a class="btn btn-secondary" asp-action="Index" asp-controller="Aluno" role="button">Voltar</a>
                <p>        </p>

            </form>

            @if (ViewBag.Media != null)
            {
                <div class="alert alert-success text-center" role="alert">
                    A média é: @ViewBag.Media.ToString("0.00")
                </div>
            }
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
