@model Views_Home_IndexA

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>



<head>
    <style>

        * {
            margin: 0px;
            padding: 0px;
            font-size: 1.2rem;
            font-family: Zen Kaku Gothic Antique;
        }

        .logo {
            width: auto;
            height: 50px;
            background: 0;
        }

        .aviso {         
            width: 300px;
            height: 150px;
            background-color: #CCEEEE;
            padding: 10px;
            top: 30px;
            left: 998px;
            border-radius: 10px;
            text-align: center;
        }

        .form-control {
            width: 40%;
            padding: 10px;
            cursor: pointer;
        }

        a {
            text-decoration: none;
        }

        .perfil {
            text-align: left;
            background: #EEE5E1;
            width: 208px; /* adjust later */
            height: auto;
            border-radius: 5px;
            display: grid;
        }

        #buscar {
            height: 100px;
            width: 300px;
            right: 5px;
            align-content: center;
            cursor: pointer;
        }

        h1 {
            height: 40px;
            padding: 5px;
        }

        .header {
            width: 100%;
            display: flex;
        }

        .table-container {
            text-align: center;
            margin-top: 30px;
            align-items: center;
           }

        table {
            margin: 0 auto;
            display: inline-block;
            
        }

        .table, th, td {
            border: 1px solid #7D9CAB;
            padding: 10px;
            text-align: left;
        }
        
        .table, th {
            background-color: #7D9CAB;
            color: #fff;
            text-align: center;
            text-decoration: none;

        }
        hr {
            display: inline-flex;
            width: 87%;
            float: right;
            color: #63605E;
            top: 247px;
            left: 260px;
        }
    </style>
</head>
<body>


    @* <span> Migalha de pão</span> *@

    <div class="content">

        <div class="container">
            <h1>PROCURE</h1>
            <div class="row">
                <div class="col-md-8">
                    <div class="input-group mb-3" id="buscar">
                        <input type="text" class="form-control" placeholder="Procure sua turma" aria-label="Campo de busca" aria-describedby="icone-lupa">
                        <span class="input-group-text" id="icone-lupa">
                            <ion-icon name="search-outline"></ion-icon>
                        </span>
                    </div>
                </div>

                <div class="aviso">
                    <strong>AVISO</strong>
                    <img src="~/alert.png" />
                </div>
            </div>
        </div>
    </div>

    @*     <div> Tabela de pesquisa </div>
    <div> Footer </div> *@
    <hr />

    <div class="table-container">
        <table>
            <tr>
                <th>MATÉRIA</th>
                <th>PROVA 1</th>
                <th>PROVA 2</th>
                <th>TRABALHO</th>
                <th>MEDÍA FINAL</th>
            </tr>
            <tr>
                <td>Portugês</td>
                <td>Coluna 2, linha 2</td>
                <td>Coluna 2, linha 2</td>
                <td>Coluna 2, linha 2</td>
                <td>Coluna 2, linha 2</td>

            </tr>
            <tr>
                <td>Matemática</td>
                <td>Coluna 2, Linha 3</td>
                <td>Coluna 3, Linha 3</td>
                <td>Coluna 4, Linha 3</td>
                <td>Coluna 5, Linha 3</td>
            </tr>
            <tr>
                <td>Historia</td>
                <td>Coluna 2, Linha 4</td>
                <td>Coluna 3, Linha 4</td>
                <td>Coluna 4, Linha 4</td>
                <td>Coluna 5, Linha 4</td>
            </tr>
            <tr>
                <td>Biologia</td>
                <td>Coluna 2, Linha 5</td>
                <td>Coluna 3, Linha 5</td>
                <td>Coluna 4, Linha 5</td>
                <td>Coluna 5, Linha 5</td>
            </tr>
            <tr>
                <td>Física</td>
                <td>Coluna 2, Linha 5</td>
                <td>Coluna 3, Linha 5</td>
                <td>Coluna 4, Linha 5</td>
                <td>Coluna 5, Linha 5</td>
            </tr>
            <tr>
                <td>Química</td>
                <td>Coluna 2, Linha 5</td>
                <td>Coluna 3, Linha 5</td>
                <td>Coluna 4, Linha 5</td>
                <td>Coluna 5, Linha 5</td>
            </tr>
            <tr>
                <td>Literatura</td>
                <td>Coluna 2, Linha 5</td>
                <td>Coluna 3, Linha 5</td>
                <td>Coluna 4, Linha 5</td>
                <td>Coluna 5, Linha 5</td>
            </tr>
            <tr>
                <td>Inglês</td>
                <td>Coluna 2, Linha 5</td>
                <td>Coluna 3, Linha 5</td>
                <td>Coluna 4, Linha 5</td>
                <td>Coluna 5, Linha 5</td>
            </tr>
            <tr>
                <td>Artes</td>
                <td>Coluna 2, Linha 5</td>
                <td>Coluna 3, Linha 5</td>
                <td>Coluna 4, Linha 5</td>
                <td>Coluna 5, Linha 5</td>
            </tr>
            <tr>
                <td>Geografia</td>
                <td>Coluna 2, Linha 5</td>
                <td>Coluna 3, Linha 5</td>
                <td>Coluna 4, Linha 5</td>
                <td>Coluna 5, Linha 5</td>
            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-fz5g0b2mAIwz3R6oyD9t9z5u5c3CkOKd7wBdFg5A+Jw5a6L5pma7qE2iu0w11OjI" crossorigin="anonymous"></script>
</body>