@model Views_Sobre_Index

<!DOCTYPE Html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Versão do sistema</title>

    <style>

        h1 {
            font-size: 31px;
            font-weight: 700;
            margin-top: 70px;     
            display: flex;
            align-items: center;
            justify-content: center;
            color: #63605E;
        }

        .img-cor {
            margin-top: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p {
            font-size: 31px;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #63605E;
        }

        .roda-pe {
            margin-top: 200px;
            background-color: #CEEAF7;
            text-align: center;
            padding: 45px;
            border-radius: 30px;
            width: 1000px;
            margin-left: 500px;
            position: fixed;
            height: 200px;
        }
    </style>




</head>
<body>
    <div>
        <h1>VERSÃO ATUAL - 1.0</h1>
    </div>
    <div class="img-cor">
        <img src="~/Coruja.png" />
    </div>
    <p>Procurando atualização ..........</p>
    <div>
        <footer class="roda-pe">
            <p>ATUALIZAÇÃO: VERSÃO 1.1</p>
        </footer>
    </div>
</body>

</html>